<main class="main">
  <div class="container">
    <div class="odigia-hero">

      <h1 class="odigia-hero-lead">
        Empowering students and <span>educators</span>
      </h1>
    </div>

    <div class="odigia-email-form-wrapper">
      <h3 class="odigia-form-cta">Learn what Odigia can do for you!</h3>
      <form id="newsletter-form" class="form-inline odigia-flat-form" action="http://formdrop.co/to/contact@odigia.com" method="post">
        <label>Email</label>
        <div class="form-group odigia-form-group">
          <input class="odigia-input email" type="text" name="email" value="" placeholder="Your Email Address..." required>
        </div>
        <input type="hidden" class="firstname-lastname" name="name-from-hidden" value="">
        <input type="hidden" name="email-only-form" value="To Mailchimp Only">
        <input class="btn btn-primary odigia-btn" type="submit" value="Submit">
      </form>
    </div>

    <div class="odigia-content odigia-border-bottom">

      <h4 class="odigia-content-header">Simple. Powerful. Engaging.</h4>
      <p>Courses built in Odigia transform one-size-fits-all content into <span>personalized learning experiences that improve student outcomes.</span> Odigia's intuitive teaching and learning tools are designed to drive engagement and collaboration, and to measure students' performance.</p>

    </div>

    <div class="odigia-subject-hero">

      <img class="img-responsive" src="" data-src="<%= base_url %>/assets/img/history.jpg">
      <div class="odigia-img-caption">
        <h3 class="odigia-img-caption-header">Washington didn't make history by taking standardized tests.</h3>
        <p>Take a look at Odigia's social science course offerings or build yoru own course. Get started today to liberate your classroom!</p>
      </div>

    </div>

    <div class="odigia-content">
      <a href="#" class="odigia-hollow-btn" data-toggle="modal" data-target="#myModal">Get Started Today</a>

      <div class="row db-padding-btm db-attached">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="db-wrapper">
            <div class="db-pricing-eleven">
              <div class="price db-bk-color-one">
                <img class="img-responsive odigia-course-icon" src="" data-src="<%= base_url %>/assets/img/graph-icon.png">
              </div>
              <ul>
                <li class="peppermint">College Algebra</li>
                <li class="feta">Algebra & Trigonometry</li>
                <li class="peppermint">Precalculus</li>
                <li class="feta">Statistics</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-forward">
          <div class="db-wrapper popular">
            <div class="db-pricing-eleven">
              <div class="price db-bk-color-two">
                <img class="img-responsive odigia-course-icon" src="" data-src="<%= base_url %>/assets/img/gov-icon.png">
              </div>
              <ul>
                <li class="feta">US History</li>
                <li class="peppermint">Psychology</li>
                <li class="feta">Principles of Economics</li>
                <li class="peppermint">Principles of Microeconomics</li>
                <li class="feta">Principles of Macroeconomics</li>
                <li class="peppermint">Sociology</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="db-wrapper">
            <div class="db-pricing-eleven">
              <div class="price db-bk-color-three">
                <img class="img-responsive odigia-course-icon" src="" data-src="<%= base_url %>/assets/img/science-icon.png">
              </div>
              <ul>
                <li class="peppermint">Biology 1: Intro to Biology</li>
                <li class="feta">Biology 2: Evolution & Genetics</li>
                <li class="peppermint">Anatomy & Physiology</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="db-wrapper">
            <div class="db-pricing-eleven">
              <div class="price db-bk-color-four">
                <img class="img-responsive odigia-course-icon" src="" data-src="<%= base_url %>/assets/img/atom.png">
              </div>
              <ul>
                <li class="feta">Chemistry</li>
                <li class="peppermint">Physics</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <img class="open-stax" src="" data-src="<%= base_url %>/assets/img/open-stax.png">
    </div>
  </div>
</main>
